.container
{
    position: relative;
}
.text-block
{
    position: absolute;
    bottom: 90px;
    left: 10px;
    
    color: rgb(252, 249, 249);
    padding-left: 20px;
    padding-right: 20px;
}
h1
{
    color: rgb(236, 10, 10);
}
